<div class="card card-block">
  <div class="row">
    <div class="col-xs-1 text-sm-center">
      <i class="fa fa-book"></i>
    </div>
    <div class="col-xs-10">
      <a [routerLink]="['/books', book.isbn]" class="title-link">
        <h4 class="card-title">{{book.title}}</h4>
      </a>
      <p class="card-text">{{book.author}}</p>
    </div>
    <div class="col-xs-1 text-sm-center">
      <a [routerLink]="['/books', book.isbn, true]" class="edit-link">
        <i class="fa fa-pencil"></i>
      </a>
    </div>
  </div>
</div>
