$hoverColor: lightblue;
$linkColor: hsl(180, 58%, 48%);
$cardBackground: hsl(240, 14%, 97%);

.card {
  background-color: $cardBackground;

  .fa-book {
    font-size: 2.5em;
  }

  a {
    cursor: pointer;
    color: $linkColor;
    text-decoration: none;

    :hover, :active, :visited {
      color: $hoverColor;
    }

    // delete link
    &:nth-child(2) {
      color: #aaa;
      padding-left: 10px;
    }
  }

  .card-text {
    margin-top: -10px;
  }
}
