$hoverColor: lightblue;
$linkColor: lightblue;

.card {
  a {
    cursor: pointer;
    color: $linkColor;
    text-decoration: none;

    :hover, :active, :visited {
      color: $hoverColor;
    }
  }
}
