$hoverColor: lightblue;
$linkColor: hsl(180, 58%, 48%);
$cardBackground: lightcyan;

.card {
  background-color: $cardBackground;

  a {
    cursor: pointer;
    color: $linkColor;
    text-decoration: none;

    :hover, :active, :visited {
      color: $hoverColor;
    }
  }

  .card-text {
    margin-top: -15px;
    margin-left: 28px;
  }
}
