<div class="row">
  <div class="col-xs-6">

    <div class="card card-block">
      <form>
        <div class="form-group">
          <label for="isbn">ISBN</label>
          <input *ngIf="editable"
                 type="text"
                 class="form-control"
                 id="isbn"
                 aria-describedby="isbnHelp"
                 placeholder="Enter ISBN number"
                 value="{{isbn}}"
                 disabled>
          <label *ngIf="!editable">: {{isbn}}</label>
          <!--<small id="isbnHelp" class="form-text text-muted"></small>-->
        </div>

        <div class="form-group">
          <label for="title">Title</label>
          <input *ngIf="editable"
                 type="text"
                 class="form-control"
                 id="title"
                 placeholder="Enter Title"
                 value="{{title}}"
                 [(ngModel)]="title"
                 [ngModelOptions]="{standalone: true}">
          <label *ngIf="!editable">: {{title}}</label>
        </div>

        <div class="form-group">
          <label for="author">Author</label>
          <input *ngIf="editable"
                 type="text"
                 class="form-control"
                 id="author"
                 placeholder="Enter author"
                 value="{{author}}"
                 [(ngModel)]="author"
                 [ngModelOptions]="{standalone: true}">
          <label *ngIf="!editable">: {{author}}</label>
        </div>

      </form>

      <a [routerLink]="['/books']">Back</a>
      <button *ngIf="editable" (click)="save()" class="btn btn-primary pull-right">Save</button>
    </div>

  </div>
</div>
